<! DOCTYPE html >
< html   th: fragment = " header " xmlns: th = " http://www.thymeleaf.org " >
< tête >
< meta  charset = " ISO-8859-1 " >
< title > Insérez le titre ici </ title >
< Lien  href = " https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css " rel =" stylesheet " intégrité =" sha384- + 0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7 + AMvyTG2x " crossorigin = " anonyme " >
</ tête >
< corps >

	<en- tête >
	
		< nav  class = " navbar navbar-expand-lg navbar-light bg-light " >
		  < div  class = " container-fluid " >
		    < A  class = " navbar-marque " href =" # " > Navbar </ a >
		    < button  class = " navbar-toggler " type = " button " data-bs-toggle = " collapse " data-bs-target = " #navbarSupportedContent " aria-controls = " navbarSupportedContent " aria- Expand = " false " aria-label = " Basculer la navigation " >
		      < span  class = " navbar-toggler-icon " > </ span >
		    </ bouton >
		    < div  class = " collapse navbar-collapse " id = " navbarSupportedContent " >
		      < ul  class = " navbar-nav me-auto mb-2 mb-lg-0 " >
		        < li  class = " nav-item " >
		          < A  class = " nav-lien actif " courant aria =" la page " href =" # " > Accueil </ a >
		        </ li >
		        < li  class = " nav-item " >
		          < A  class = " nav-link " href =" # " > Lien </ a >
		        </ li >
		        < li  class = " nav-item dropdown " >
		          < Une  classe = " menu déroulant-bascule nav-link " href =" # " id =" navbarDropdown " rôle =" bouton " data-bs-bascule =" menu déroulant " aria expansées =" false " >
		            Menu déroulant
		          </ a >
		          < ul  class = " dropdown-menu " aria-labelledby = " navbarDropdown " >
		            < Li > < a  class = " menu déroulant items " href =" # " > action </ a > </ li >
		            < Li > < a  class = " menu déroulant items " href =" # " > Une autre action </ a > </ li >
		            < li > < hr  class = " dropdown-divider " > </ li >
		            < Li > < a  class = " menu déroulant items " href =" # " > Quelque chose d' autre ici </ a > </ li >
		          </ ul >
		        </ li >
		        < li  class = " nav-item " >
		          < A  class = " nav-link désactivé " href =" # " tabindex =" -1 " aria-désactivé =" true " > Désactivé </ a >
		        </ li >
		      </ ul >
		      < form  class = " d-flex " >
		        < input  class = " form-control me-2 " type = " search " placeholder = " Search " aria-label = " Search " >
		        < button  class = " btn btn-outline-success " type = " submit " > Rechercher </ button >
		      </ form >
		    </ div >
		  </ div >
		</ nav >
	
	</ header >