<div th:replace="fragment/header::header"></div>
<body>
     <div class="container">
		<table class="table">
		         <thead>
		           <tr>
				      <th scope="col">Id_association</th>
				      <th scope="col">conducteur</th>
				      <th scope="col">vehicule</th>
				      <th scope="col">modification</th>
				      <th scope="col">suppression</th>
		          </tr>
		       </thead>
		       <tbody>
			        <tr th:each="a:${association}">
				       <td th:text="${a.id}"></td>
				       <td th:text="${a.conducteur1}"></td>
				       <td th:text="${a.vehicule1}"></td>
				       
					</tr>
		        </tbody>
		</table>
      </div>
			
	   <div class="container">
				<form class="form" method="post" th:action="@{/associa}" th:object="${associat}">
					 <select class="form-select" aria-label="Default select example" name="conducteur1">
						 <option selected>choisirle conducteur</option>
						 <option th:each="c:${conducteurs}" th:value="${c.id_conducteur}" th:text="${c.nom+' '+ c.prenom}">
			            
					</select>
			    
					<select class="form-select espace" aria-label="Default select example"name="vehicule1">
						 <option selected>choisir le vehicule</option>
						<option th:each="v:${vehicules}" th:value="${v.id_vehicule}" th:text="${v.marque+' '+v.modele}">>
						
					</select>
					
					<div>
		                 <button type="submit" class="btn btn-primary">Submit</button>
		            </div>	
			    </form>
	     </div>
</body>
</html>