<div th:replace="fragment/header::header"></div>
<meta charset="UTF-8">
<body>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id_vehicule</th>
      <th scope="col">marque</th>
      <th scope="col">modele</th>
      <th scope="col">couleur</th>
      <th scope="col">immatriculation</th>
      <th scope="col">modification</th>
      <th scope="col">suppression</th>
    </tr>
  </thead>
  <tbody>
             <tr th:each="v:${vehicules}">
		            <td th:text="${v.id_vehicule}"></td>
					<td th:text="${v.marque}"></td>
					<td th:text="${v.modele}"></td>
		            <td th:text="${v.couleur}"></td>
		            <td th:text="${v.immatriculation}"></td>
		            <td><button class="btn btn-success" type="submit">modifier</button></td>
		             <td><a onclick="return confirm('êtes-vous sûr de vouloir supprimer le vehicule?')"class="btn btn-danger" type="submit"th:href="@{/index2/{id} (id=${v.id_vehicule})}">delete</a></td>
			        
		     </tr>
  </tbody>
</table>
</div>
<br><br><br>

<h3 class="item">Ajouter des des nouveaux vehicules</h3>
	<div class="container">
		 <form method="post" th:action="@{/form2}" th:object="${vehicule}">
		  <div class="mb-3">
		    <label class="form-label">marque</label>
		    <input type="text" class="form-control" name=marque required>
		  </div>
		  <div class="mb-3">
		    <label class="form-label">modele</label>
		    <input type="text" class="form-control" name=modele required>
		  </div>
		 <div class="mb-3">
		    <label class="form-label">couleur</label>
		    <input type="text" class="form-control" name=couleur required>
		  </div>
		 <div class="mb-3">
		    <label class="form-label">immatriculation</label>
		    <input type="text"  class="form-control" name=immatriculation required>
		  </div>
		  <div>
		    <button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</form>
	</div>
</body>
</html>