<div th:replace="fragment/header::header"></div>
<meta charset="UTF-8">
<body>
<br><br>
 <form th:action="@{index1}"method="get" class="d-flex" >
		        <input  type="text" placeholder="Search" name="mc">
		        <button class="btn btn-primary" type="submit">Search</button>
		      </form>
<div class="container">

		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Id_conducteur</th>
		      <th scope="col">prenom</th>
		      <th scope="col">nom</th>
		      <th scope="col">modification</th>
		      <th scope="col">suppression</th>
		    </tr>
		  </thead>
		  <tbody>
	         <tr th:each="c:${conducteurs}">
		      <td th:text="${c.id_conducteur}"></td>
		      <td th:text="${c.prenom}"></td>
		      <td th:text="${c.nom}"></td>
		      <td><button class="btn btn-success" type="submit">modifier</button></td>
		      <td><a onclick="return confirm('êtes-vous sûr de vouloir supprimer le conducteur?')" class="btn btn-danger" type="submit"th:href="@{/index/{id} (id=${c.id_conducteur})}">delete</a></td>
			 <tr>
		  </tbody>
		</table>
		 
</div>
<br><br><br>

<h3 class="item">Ajouter des des nouveaux conducteurs</h3>

</div>
	<div class="container">
		 <form method="post" th:action="@{/form1}" th:object="${conducteur}">
		  <div class="mb-3">
		    <label class="form-label">prenom</label>
		    <input type="text" class="form-control" name=prenom required>
		  </div>
		  <div class="mb-3">
		    <label class="form-label">nom</label>
		    <input type="text" class="form-control" name=nom required>
		  </div>
		
		  <div>
		    <button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</form>
	</div>
</body>
</html>